.place__title {
	font-size: 4.5em;
	line-height: 1.1;
	font-weight: 900;
	font-style: normal;
	width: calc((100% - 40px)/2);
	margin: 0;
}

@media screen and (max-width: 768px) {
	.place__title {
		font-size: 2.6em;
	}
}

@media screen and (max-width: 375px) {
	.place__title {
		width: 90%;
		margin: 0 auto;
		font-size: 2em;
	}
}