@import url('__copyright/footer__copyright.css');
@import url('__link/footer__link.css');
@import url('__navigation/footer__navigation.css');
@import url('__navigation-item/footer__navigation-item.css');

.footer {
	display: flex;
	justify-content: space-between;
    align-items: flex-end;
	max-width: 1184px;
    width: 100%;
	margin: 0 auto 48px;
}