@import url('__copyright/footer__copyright.css');
@import url('__link/footer__link.css');
@import url('__navigation/footer__navigation.css');
@import url('__navigation-item/footer__navigation-item.css');

.footer {
	display: flex;
	justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1184px;
	width: 100%;
	margin: 0 auto 48px;
}

@media screen and (max-width: 1280px) {
	.footer {
		width: 92%;
	}
}

@media screen and (min-width: 768px) {
	.footer {
		width: 94%;
	}
}

@media screen and (max-width: 375px) {
	.footer {
		width: 90%;
		flex-direction: column;
		align-items: flex-start;
	}
}