.additional__container {
/*
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
*/
	display: grid;
	grid-template-columns: repeat(auto-fill, 284px);
	grid-gap: 16px;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.additional__container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.additional__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 375px) {
	.additional__container {
		grid-template-columns: repeat(1, 1fr);
	}
}