@import url('_theme/_dark/page_theme_dark.css');

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
/*	min-width: 1440px;*/
	margin: 0 auto;
    padding: 0 10px;
	position: relative;
	font-family: 'Inter', Arial, sans-serif;
	background-color: #2A2C2F;
	color: #fff;
}

/*
h1, h2, h3, h4, div, ul, li, nav {
    border: 1px solid red;
}*/