.additional__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 34px 16px 22px;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: 284px;
	height: 330px;
	background-color: black;
}

.additional__item:hover .additional__item-bg {
    opacity: .2;
}