.additional__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 34px 16px 22px;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	width: 284px;
	height: 330px;
}

.additional__item:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	content: " ";
	background-color: rgba(0, 0, 0, .2);
}

.additional__item:hover:after {
	background-color: rgba(0, 0, 0, .8);
}