.emblems__item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 208px;
	width: 100%;
	min-height: 226px;
	align-items: center;
	margin: 0;
}

@media screen and (max-width: 425px) {
	.emblems__item {
		margin: 0 auto 48px;
	}
}