@import url('lead/lead.css');
@import url('intro/intro.css');
@import url('gallery/gallery.css');
@import url('places/places.css');
@import url('video/video.css');
@import url('additional/additional.css');
@import url('comments/comments.css');
@import url('cover/cover.css');
@import url('emblems/emblems.css');
@import url('barentsburg/barentsburg.css');
@import url('reuse/reuse.css');

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
    max-width: 1184px;
	width: 100%;
    margin: 60px auto 154px;
	padding: 0;
}

@media screen and (max-width: 768px) {
	.content {
		width: 100%;
		margin: 48px auto 102px;
	}
}

@media screen and (max-width: 375px) {
	.content {
		width: 100%;
		margin: 48px auto 64px;
	}
}