@import url('__container/comments__container.css');
@import url('comment/comment.css');

.comments {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 90px;
}

@media screen and (max-width: 1024px) {
	.comments {
		width: 92%;
	}
}

@media screen and (max-width: 768px) {
	.comments {
		width: 90%;
	}
}

@media screen and (max-width: 375px) {
	.comments {
		width: 100%;
		margin-bottom: 48px;
	}
}