@import url('__langs/header__langs.css');
@import url('__list-item/header__list_item.css');
@import url('__lang/header__lang.css');

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1184px;
    width: 100%;
	height: 52px;
	position: relative;
	margin: 30px auto 0;
}