@import url('__title/place__title.css');
@import url('__pic/place__pic.css');
@import url('__website/place__website.css');
@import url('__paragraphs/place__paragraphs.css');
@import url('__paragraph/place__paragraph.css');
@import url('__header/place__header.css');
@import url('__content/place__content.css');

.place {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
	.place {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.place {
	}
}