.video__item {
	width: 583px;
	height: 323px;
	padding: 26px 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.video__item:after {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: " ";
	background-color: rgba(0, 0, 0, .2);
	transition: background 0.3s ease-in-out;
}

.video__item:hover:after {
	background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 1024px) {
	.video__item  {
		width: 456px;
		height: 288px;
	}
}

@media screen and (max-width: 768px) {
	.video__item  {
		width: 352px;
		height: 200px;
		padding: 24px 24px;
	}
}

@media screen and (max-width: 425px) {
	.video__item {
		width: 100%;
		margin-bottom: 8px;
	}
	.video__item:last-child {
		margin-bottom: 0;
	}
}