@import url('__title/emblems__title.css');
@import url('__item/emblems__item.css');
@import url('__city/emblems__city.css');
@import url('__image/emblems__image.css');

.emblems {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 72px 36px;
	margin: 82px auto 76px;
}

.emblems :first-child {
	grid-column: 1/6;
	grid-row: 1/2;
}