@import url('__title/emblems__title.css');
@import url('__item/emblems__item.css');
@import url('__city/emblems__city.css');
@import url('__image/emblems__image.css');
@import url('__items/emblems__items.css');

.emblems {
	margin: 82px auto 76px;
	max-width: 1184px;
	width: 100%;
}