@import url('__title/emblems__title.css');
@import url('__item/emblems__item.css');
@import url('__city/emblems__city.css');
@import url('__image/emblems__image.css');
@import url('__items/emblems__items.css');

.emblems {
	margin: 0 auto 76px;
	max-width: 1184px;
	width: 100%;
	margin: 0 auto 85px;
}

@media screen and (max-width: 1024px) {
	.emblems {
		width: 92%;
	}
}

@media screen and (max-width: 768px) {
	.emblems {
		width: 94%;
	}
}

@media screen and (max-width: 375px) {
	.emblems {
		width: 90%;
	}
}