.lead__cover-caption {
	font-size: .6em;
	line-height: 1.2;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-align: left;
	margin-top: 10px;
	width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	.lead__cover-caption {
		padding: 0 24px;
	}
}

@media screen and (max-width: 425px) {
	.lead__cover-caption {
		padding: 0 16px;
	}
}