@import url('__container/additional__container.css');
@import url('__heading/additional__heading.css');
@import url('__text/additional__text.css');
@import url('__item/additional__item.css');
@import url('__item-bg/additional__item-bg.css');

.additional {
	width: 100%;
	margin: 0 auto 102px;
}

@media screen and (max-width: 1024px) {
	.additional {
		width: 92%;
	}
}

@media screen and (max-width: 768px) {
	.additional {
		width: 94%;
	}
}

@media screen and (max-width: 375px) {
	.additional {
		width: 90%;
		margin-bottom: 64px;
	}
}