.lead__cover {
	position: relative;
	margin: 0;
    max-width: 984px;
    width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.lead__cover  {
		width: 100%;
		padding: 0 24px;
	}
}

@media screen and (max-width: 768px) {
	.lead__cover  {
		width: 100%;
		padding: 0;
	}
}